<div _ngcontent-c3="" class="error-box">
    <div _ngcontent-c3="" class="error-body text-center">
        <h1 _ngcontent-c3="">404</h1>
        <h3 _ngcontent-c3="" class="text-uppercase">Página no encontrada !</h3>
        <p _ngcontent-c3="" class="text-muted m-t-30 m-b-30">Parece que encontraste un ratón</p>
        <a _ngcontent-c3="" class="btn btn-info btn-rounded waves-effect waves-light m-b-40" ng-reflect-router-link="/login" href="#/login">Regresar al login</a> </div>
    <footer _ngcontent-c3="" class="footer text-center">© {{anio}} Admin Pro.</footer>
</div>